
@{
    ViewBag.Title = "Index";
}


<h2>TodoApp'e Hoş Geldiniz</h2>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>Merhaba</strong></h1>
        <p class="lead">Sayfaları görebilmek için lütfen giriş yapınız. Giriş için yukarıdaki Giriş Yap butonuna tıklayabilirsiniz.</p>
        <p>Eğer kayıtlı değilseniz Kayıt Ol butonuna tıklayarak kayıt sayfasına gidebilirsiniz.</p>
    </div>
</div>